[Unit]
Description=Grommunio Exporter
After=syslog.target
After=network.target
AssertFileIsExecutable=/usr/local/bin/grommunio_exporter

[Service]
Type=simple
# You may prefer to use a different user or group on your system.
#User=grommunio
#Group=grommunio
ExecStart=/usr/local/bin/grommunio_exporter
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target